#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #333;
  border-radius: 15px;
  color: #f0f0f0;
  font-family: Arial, sans-serif;
  
}

@keyframes bounce {
  0% { top: 0; left: 0; }
  25% { top: 0; left: 70%; }
  50% { top: 70%; left: 70%; }
  75% { top: 70%; left: 0; }
  100% { top: 0; left: 0; }
}


.bouncing-text {
  position: absolute;
  animation: bounce 5s infinite;
}

.first-render{
  display: flex;
  position: relative; 
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.first-render button{
  margin-top: 5%;
  position: relative;
  
}

.first-render input{
  margin-left: 8%;
}

.make-red{
  color: red;
}

.error-message {
  color: red;
  text-align: center;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  z-index: 1000; 
  font-size: xx-large;
  font-weight: bold;
}

.suggestions{
  position: absolute;
  left: 105%; 
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 1%;
  top: -4%;
  flex-direction: column;
}



.suggestion {
  border: 2px solid #df3838; 
  border-radius: 5px;
  padding: 10px;

}


.suggestions-unshifted {
  left: 120%;
  top: -350%;
}

.domain-image {
  position: absolute;
  top: 0;
  right: 0;
}


.primary-button {
 font-family: 'Ropa Sans', sans-serif;
    /* font-family: 'Valorant', sans-serif; */
 color: white;
 cursor: pointer;
 font-size: 13px;
 font-weight: bold;
 letter-spacing: 0.05rem;
 border: 1px solid #0E1822;
 padding: 0.8rem 2.1rem;
 background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %23FF4655 /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
 background-color: #0E1822;
 background-size: 200%;
 background-position: 200%;
 background-repeat: no-repeat;
 transition: 0.3s ease-in-out;
 transition-property: background-position, border, color;
 position: relative;
 z-index: 1;
}

.primary-button:hover {
 border: 1px solid #FF4655;
 color: white;
 background-position: 40%;
}

.primary-button:before {
 content: "";
 position: absolute;
 background-color: #0E1822;
 width: 0.2rem;
 height: 0.2rem;
 top: -1px;
 left: -1px;
 transition: background-color 0.15s ease-in-out;
}

.primary-button:hover:before {
 background-color: white;
}

.primary-button:hover:after {
 background-color: white;
}

.primary-button:after {
 content: "";
 position: absolute;
 background-color: #FF4655;
 width: 0.3rem;
 height: 0.3rem;
 bottom: -1px;
 right: -1px;
 transition: background-color 0.15s ease-in-out;
}

.button-borders {
 position: relative;
 width: fit-content;
 height: fit-content;
}

.button-borders:before {
 content: "";
 position: absolute;
 width: calc(100% + 0.5em);
 height: 50%;
 left: -0.3em;
 top: -0.3em;
 border: 1px solid #0E1822;
 border-bottom: 0px;
    /* opacity: 0.3; */
}

.button-borders:after {
 content: "";
 position: absolute;
 width: calc(100% + 0.5em);
 height: 50%;
 left: -0.3em;
 bottom: -0.3em;
 border: 1px solid #0E1822;
 border-top: 0px;
    /* opacity: 0.3; */
 z-index: 0;
}

.shape {
 fill: #0E1822;
}