#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #333;
  border-radius: 5px;
  color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.first-render{
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.first-render button{
  margin-top: 5%;
  
}